* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #0f2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #255062, #164757, #117ba9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #132a34, #112931, #0f2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.head{
   text-align: center;
   font-size: 10vh;
   background-color: rgb(118, 151, 198);
   color: white;
   height: 10vh;
   

}
.piano {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.white {
    width: 9%;
    min-width: 60px;
    height: 70%;
    background-color: white;
    border: 1px solid #ccc;
}
.black {
    width: 8%;
    height: 45%;
    background-color: black;
}
.black {
    width: 8%;
    height: 45%;
    margin-left: -4%;
    margin-right: -4%;
    z-index: 2;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #568073;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c5364, #203a43, #81b0c4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #72b6d2, #c1d0d5, #223843);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .piano {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding-top: 2rem; */
  }
  
  .key {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 20px;
  }
  
  .white {
    width: 9%;
    min-width: 60px;
    height: 70%;
    background-color: white;
    border: 1px solid #ccc;
    color: #000;
    border-bottom:solid white;
   border-bottom-left-radius: .75rem;
   border-bottom-right-radius: .75rem ;  
}
  
  .black {
    width: 8%;
    height: 45%;
    margin-left: -4%;
    margin-right: -4%;
    z-index: 2;
    background-color: black;
    color: #fff;
    border-bottom:solid white;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;  
  }
  
  .white.active {
    background-color: #ccc;
  }
  
  .black.active {
    background-color: #333;
  }
  